# Logs
logs
*.log
npm-debug.log*

node_modules
dist

# Environment variables
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# TypeScript build info
*.tsbuildinfo
